.appContainer {
    display:flex;
    gap: 48px;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/backgroundLogo.svg');
    background-repeat: no-repeat;
    background-size:100%;
    background-position: right;
    background-color:#E3E3E3;
}

.text {
    font-weight: 800;
    font-size: 42px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}